<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 实体类接口的类全名 -->
<mapper namespace="cn.guardwhy.dao.RoleMapper">
    <!--2.1 配置角色的映射-->
    <resultMap id="roleMap" type="role">
        <id property="id" column="id"></id>
        <id property="roleName" column="role_name"/>
        <id property="roleDetail" column="role_detail"/>
    </resultMap>
    <!--2.2 多对多嵌入查询-->
    <select id="findByOid" parameterType="int" resultMap="roleMap">
        select * from role r inner join user_role ur on r.id = ur.user_id where ur.role_id = #{oid}
    </select>
</mapper>