<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 实体类接口的类全名 -->
<mapper namespace="cn.guardwhy.dao.UserMapper">
    <!--创建User的映射-->
    <resultMap id="userMap" type="user">
        <!--映射主键-->
        <id property="id" column="id"/>
        <result property="username" column="username"/>
        <result property="birthday" column="birthday"/>
        <result property="sex" column="sex"/>
        <result property="address" column="address"/>
    </resultMap>

    <!--创建订单的映射-->
    <resultMap id="orderMap" type="orderForm">
        <id property="id" column="id"/>
        <result property="userId" column="user_id"/>
        <result property="number" column="number"/>
        <result property="createTime" column="crate_time"/>
        <result property="note" column="note"/>
    </resultMap>

    <!--创建UserInfo的映射-->
    <resultMap id="userInfoMap" type="userInfo">
        <!--映射主键-->
        <id property="id" column="id"/>
        <result property="height" column="height"/>
        <result property="weight" column="weight"/>
        <result property="married" column="married"/>
    </resultMap>
    
    <!--查询某个用户的订单信息-->
    <select id="findOrdersByUserId" resultMap="orderMap">
        select * from order_form where user_id= #{id};
    </select>

    <!--创建一对一的关联extends,将上面的映射关系复制过来-->
    <resultMap id="userAndInfoMap" type="user" extends="userMap">
        <!--
        property：另一方的属性名
        column：主表中主键列
        select: 查询另一方的SQL语句
        -->
        <association property="userInfo" column="id" select="findUserInfoById"/>

        <!--创建一对多的关联-->
        <collection property="orders" column="id" select="findOrdersByUserId"/>
    </resultMap>

    <!--通过id查询1个用户-->
    <select id="findUserById" resultMap="userAndInfoMap">
        select * from user where id = #{id}
    </select>

    <!--通过id查询一个用户的拓展信息-->
    <select id="findUserInfoById" resultMap="userInfoMap">
        select * from user_info where id = #{id}
    </select>
</mapper>